<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BomFileProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BomFileProcessor.Properties.Settings>
            <setting name="BomDirectory" serializeAs="String">
                <value>C:\BOM\BOM</value>
            </setting>
            <setting name="BomArchive" serializeAs="String">
                <value>C:\BOM\Archive</value>
            </setting>
            <setting name="BomResultDirectory" serializeAs="String">
                <value>C:\BOM\Results</value>
            </setting>
            <setting name="VehicleBuildDirectory" serializeAs="String">
                <value>//home/CCRT/Rewrite/Configuration/VehicleTest/BuildRecords/</value>
            </setting>
            <setting name="BomUpcIndex" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="BomUpcLength" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="BomFnaIndex" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="BomFnaLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BomPartNumberIndex" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="BomPartNumberLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BomPartNameIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BomPartNameLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BomCountIndex" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="BomCountLength" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BomRecordCountIndex" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BomRecordCountLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BomModelCodeIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BomModelCodeLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BomModelYearIndex" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="BomModelYearLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BomLotNumberIndex" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BomLotNumberLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BomBookCodeIndex" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="BomBookCodeLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SpartanFileLocation" serializeAs="String">
                <value>C:\BOM\DVT</value>
            </setting>
            <setting name="CcrtFileLocation" serializeAs="String">
                <value>//home/CCRT/Rewrite/TestResults/PassConfirmation/</value>
            </setting>
            <setting name="CheckForPassConfirmationFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PassConfirmationCheckDelay" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SpartanFlashFileLocation" serializeAs="String">
                <value>C:\BOM\ECM</value>
            </setting>
            <setting name="WindowsPCESNFileLocation" serializeAs="String">
                <value>C:\BOM\ESN</value>
            </setting>
            <setting name="RealTimePCESNFileLocation" serializeAs="String">
                <value>//home/CCRT/Rewrite/TestResults/ESN/</value>
            </setting>
            <setting name="RealTimePCESNFlashTransferLocation" serializeAs="String">
                <value>//home/CCRT/Rewrite/TestResults/ftpOutbox/ESN/</value>
            </setting>
            <setting name="VehicleBuildFlashTransferLocation" serializeAs="String">
                <value>//home/CCRT/Rewrite/TestResults/ftpOutbox/BuildRecords/</value>
            </setting>
            <setting name="SpartanFileTempLocation" serializeAs="String">
                <value>C:\BOM\Temp\DVT</value>
            </setting>
            <setting name="SpartanFlashFileTempLocation" serializeAs="String">
                <value>C:\BOM\Temp\ECM</value>
            </setting>
            <setting name="VehicleBuildTempDirectory" serializeAs="String">
                <value>C:\BOM\Temp\VehicleBuild</value>
            </setting>
            <setting name="VINStamperFileLocation" serializeAs="String">
                <value>C:\BOM\STP</value>
            </setting>
            <setting name="CcrtVINStamperFileLocation" serializeAs="String">
                <value>//home/CCRT/Rewrite/TestResults/STP/</value>
            </setting>
            <setting name="VINStamperFileTempLocation" serializeAs="String">
                <value>C:\BOM\Temp\STP</value>
            </setting>
            <setting name="CcrtVINStamperFlashTransferLocation" serializeAs="String">
                <value>//home/CCRT/Rewrite/TestResults/ftpOutbox/STP/</value>
            </setting>
        </BomFileProcessor.Properties.Settings>
    </userSettings>
</configuration>