<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModuleCommServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModuleCommServer.Properties.Settings>
            <setting name="LogFolder" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="VehicleInterfaceDevice" serializeAs="String">
                <value>DPA5</value>
            </setting>
            <setting name="ModuleSetupInfo" serializeAs="String">
                <value>AbsModuleSetup.xml</value>
            </setting>
            <setting name="MaxLogFileCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="QnxIpAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="WindowsIpAddress" serializeAs="String">
                <value>192.168.1.22</value>
            </setting>
            <setting name="QnxCcrtPort" serializeAs="String">
                <value>10013</value>
            </setting>
            <setting name="VehicleCommChannel" serializeAs="String">
                <value>1</value>
            </setting>
        </ModuleCommServer.Properties.Settings>
    </userSettings>
</configuration>